<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
     <style>
    body {
  font-size: 14px;
  padding: 10px;
  background: url(railway.jpg);
  background-color: lightblue;
  font-style: normal;
  
  font-size: 80%;
  font-weight: bold;
  align-content: center;
}</style> 
  </head>

<BODY ALIGN="CENTER" style="color:rgb(62, 128, 0); height:40%;background-repeat:no-repeat;background-size:40%";>
<H1 STYLE="color:rgba(255, 0, 0, 0.836)";>
<large>AI TRAIN BASED RESERVATION SYSTEM </large>
</H1>
<BR>
<BR>
<BR>
<form action="/output" method="post">
<H5 STYLE="COLOR:darkblue">
Enter Source
<input placeholder="Source"name="source" type="text" value="" id="first_name" type="text" >
</h5>
<br>
<h5 style="color:darkblue">
Enter Destination
<input placeholder="Destination" name="destination" type="text" value="" id="last_name" type="text" >
</h5>
<br>
<h5 style="color:darkblue">
Enter Date
<input placeholder="Date" name="inputdata" type="text">
"YYYYMMDD"
<a  href="#">
 "please enter 5 days before the month ending days"</a>
</h5>
<br>
<h4>
<button type="submit" class="btn-large waves-effect waves-light orange">Check Probability</button>
</form>
</span>

</a>
<button type="button" onclick="document.getElementById('demo').innerHTML= Date()">
Click Time </button>
<p id="demo"></p>
</body>
</html>