<!DOCTYPE html>
<html>
<head>
<style>
    
table,td,th{
    boder-collapse:collapse;
    border: 1px solid black;
    width:100%;
    border-collapse: collapse;
}
td,th{
    width:50%;
}
body{
    background-color: lightblue;
}
</style>
</head>
<body>
<table>
    
<tr><th>from       {{x}}  </th>
<th>to       {{y}}</th></tr>
<tr><td>{{d}}</td>
<td>{{ans0*10}}%</td>
<tr><td>{{d1}}</td> <td>{{ans1*10}}%</td></tr>
<tr><td>{{d2}}</td> <td>{{ans2*10}}%</td></tr>
<tr><td>{{d3}}</td> <td>{{ans3*10}}%</td></tr>

</tr>
</table>
<p style="text-align: center;">Date of journey {{d}}</p>
<p style="text-align:center">probability of ticket formation on   is {{ans0*10}}</p>
{% if x=='nizambad' %}
    <p style="text-align: center;">train Name : NAGAVALLI EXPRESS</p>
{% else %}
    <p style="text-align: center;">train Name : KONARK EXPRESS</p>
{% endif %}   
<p style="text-align: center;">NOTE: choose a day with highest probability to increase chances of geting confirmed ticket</p>
</body>
</html>